.DS_Store
*.iml
*.dex
*.class
bin/
gen/
.gradle/
.externalNativeBuild
/build
/unicorn-rxjava2/build
/buildSrc/build
/captures
/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyles/
!/.idea/dictionaries/
/local.properties
